# ASSIGNMENT-1 
WEB SCRAPING

# Write a python program to display all the header tags from wikipedia.org.

In [32]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

In [33]:
page = requests.get('https://www.wikipedia.org/')
soup = BeautifulSoup(page.content, 'html.parser')
titles = soup.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="central-textlogo-wrapper">
<span class="central-textlogo__image sprite svg-Wikipedia_wordmark">
Wikipedia
</span>
<strong class="jsl10n localized-slogan" data-jsl10n="portal.slogan">The Free Encyclopedia</strong>
</h1>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000 000+
</bdi>
<span class="jsl10n" data-jsl10n="entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
10 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
1 000+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

<h2 class="bookshelf-container">
<span class="bookshelf">
<span class="text">
<bdi dir="ltr">
100+
</bdi>
<span class="jsl10n" data-jsl10n="portal.entries">
articles
</span>
</span>
</span>
</h2>

# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [34]:
url = 'https://www.imdb.com/search/title/?count=100&groups=top_100&sort=user_rating'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')
movie_name = []
movie_year = []
rating = []
movie_data = soup.find_all('div', class_ = "lister-item mode-advanced")
for each_movie in movie_data:
    moviename=each_movie.h3.a.text
    movieyear = each_movie.h3.find('span', class_='lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    movierating = each_movie.find('div', class_ = 'inline-block ratings-imdb-rating').text.replace('\n','')
    movie_name.append(moviename)
    movie_year.append(movieyear)
    rating.append(movierating)
top_100_movies_df = pd.DataFrame({'Movie Name': movie_name, 'Year Of Release': movie_year, 'Rating': rating})
top_100_movies_df.to_csv('question_2.csv')
top_100_movies_df

                                       Movie Name Year Of Release Rating
0                        The Shawshank Redemption            1994    9.3
1                                   The Godfather            1972    9.2
2                                 The Dark Knight            2008    9.1
3   The Lord of the Rings: The Return of the King            2003    9.0
4                                Schindler's List            1993    9.0
..                                            ...             ...    ...
95                             North by Northwest            1959    8.3
96                                        Vertigo            1958    8.3
97                            Singin' in the Rain            1952    8.3
98                                   Citizen Kane            1941    8.3
99              M - Eine Stadt sucht einen Mörder            1931    8.3

[100 rows x 3 columns]

# Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [35]:

indian_imdb_url = 'https://www.imdb.com/india/top-rated-indian-movies/'
imdb_response = requests.get(indian_imdb_url)
indian_imdb_soup = BeautifulSoup(imdb_response.content, 'html.parser')
indian_movie_name = []
indian_movie_year = []
indian_movie_rating = []
lister=indian_imdb_soup.find("div",class_="lister")
tbody=lister.find("tbody",class_="lister-list")
trs=tbody.findAll("tr")
i=1
movie_list=[]
for tr in trs:
    indian_movie_name.append(tr.find("td",class_="titleColumn").a.text)
    indian_movie_year.append(tr.find('span', class_='secondaryInfo').text.replace('(','').replace(')',''))
    indian_movie_rating.append(tr.find('td', class_='ratingColumn imdbRating').text.replace('\n',''))
indian_movie_df = pd.DataFrame({'Indian_Movie_Name':(indian_movie_name[:100]),'Released_Year':(indian_movie_year[:100]),'Rating':(indian_movie_rating[:100])})
indian_movie_df.to_csv('question_3.csv')
indian_movie_df

              Indian_Movie_Name Released_Year Rating
0                      Jai Bhim          2021    8.4
1                    Anbe Sivam          2003    8.4
2             Pariyerum Perumal          2018    8.4
3                       Golmaal          1979    8.4
4                       Nayakan          1987    8.4
..                          ...           ...    ...
95                       Sholay          1975    8.0
96             K.G.F: Chapter 1          2018    8.0
97                       Angoor          1982    8.0
98  Baahubali 2: The Conclusion          2017    8.0
99      Maheshinte Prathikaaram          2016    8.0

[100 rows x 3 columns]

# Write a python program to scrape product name, price and discounts from https://meesho.com/bagsladies/pl/p7vbp .

In [36]:
meesho_url = 'https://meesho.com/bags%02ladies/pl/p7vbp'
meesho_response = requests.get(meesho_url)
meesho_soup = BeautifulSoup(meesho_response.content, 'html.parser')
product_name = []
product_price = []
product_discount = []
meesho_product_data = meesho_soup.find('div', class_ = "sc-gsnTZi Grid__Row-sc-4ki5nk-0 gfMTeL WphYx products")
product_data = meesho_product_data.find_all('div', class_ = 'Card__BaseCard-sc-b3n78k-0 cXRroa NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 eEBPAI NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 eEBPAI')
for i in product_data:
    product_price.append(i.find('h5', class_='Text__StyledText-sc-oo0kvp-0 dLSsNI').text.replace('₹',''))
    product_name.append(i.find('p',attrs={'class':'Text__StyledText-sc-oo0kvp-0 cPgaBh NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 hofZGw'}).text)
    product_discount.append(i.find('span', class_ = 'Text__StyledText-sc-oo0kvp-0 cZvGTZ').text.replace('off',''))
meesho_df = pd.DataFrame({'Product Name': product_name, 'Product Price (₹)': product_price, 'Product Discount': product_discount})
meesho_df.to_csv('question_4.csv')
meesho_df

,Product Name,Product Price (₹),Product Discount
0,Voguish Alluring Women Handbags,584,15%
1,Voguish Classy Women Handbags,304,25%
2,Elegant Attractive Women Handbags,374,21%
3,Elegant Fashionable Women Handbags,175,30%
4,Ameyson Attractive Women Jute Printed Lunch Ti...,145,30%
5,Voguish Versatile Women Handbags,534,16%
6,Graceful Attractive Women Handbags,426,19%
7,Elegant Versatile Women Handbags,584,15%
8,Ravishing Versatile Women Handbags,484,17%
9,Gorgeous Alluring Women Handbags,323,24%
10,Elite Alluring Women Handbags,281,26%
11,Graceful Attractive Women Handbags,263,28%
12,HANDBAGS,336,23%
13,Graceful Fancy Women Handbags,234,30%
14,Classic Versatile Women Handbags,610,14%
15,Voguish Alluring Women Handbags,1223,8%
16,Elegant Versatile Women Handbags,565,15%
17,FashionableLatest Women handbag,70,30%
18,Ravishing Fashionable Women Handbags,746,12%
19,Classic Classy Women Handbags,611,14%

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
    a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [37]:
urls = ['https://www.icc-cricket.com/rankings/womens/team-rankings/odi','https://www.icc-cricket.com/rankings/mens/team-rankings/odi']
ranking_type = []
team_name = []
total_matches = []
total_points = []
ratings = []
df = pd.DataFrame()
for i in urls:
    odi_response = requests.get(i)
    soup = BeautifulSoup(odi_response.content)
    rankingType = soup.select_one(".rankings-block__title-container > h4").text.strip('\\')
    team_name.append(soup.find('span', class_ = 'u-hide-phablet').text)
    total_matches.append(soup.find('td', class_='rankings-block__banner--matches').text)
    total_points.append(soup.find('td',class_ = 'rankings-block__banner--points').text)
    ratings.append(soup.find('td', class_ = 'rankings-block__banner--rating u-text-right').text.replace('\n',''))
    ranking_type.append(rankingType)
    tr_body = soup.find_all('tr', class_ = 'table-body')[0:9]
    for i in tr_body:
        teamName = i.find('span', class_ = 'u-hide-phablet').text
        team_name.append(teamName)
        ranking_type.append(rankingType)
    demo = soup.find_all("td", class_="table-body__cell u-center-text")[0:18]
    info = []
    for dta in demo:
        info.append(dta.text)
    for dta in range(0, len(info), 2):
        total_matches.append(info[dta])
    for dta in range(1, len(info), 2):
        total_points.append(info[dta])
    rating_1 = soup.find_all("td", class_="table-body__cell u-text-right rating")[0:9]
    for rt in rating_1:
        ratings.append(rt.text)

df['Ranking Type'] = ranking_type
df["Team Name"] = team_name
df["Total Matches"] = total_matches
df["Total Points"] = total_points
df["Ratings"] = ratings
df.to_csv('question_5_6_a_a.csv')
df

,Ranking Type,Team Name,Total Matches,Total Points,Ratings
0,Women's ODI Rankings,Australia,27,"4,487",166 ...
1,Women's ODI Rankings,South Africa,27,"3,438",127
2,Women's ODI Rankings,England,28,"3,248",116
3,Women's ODI Rankings,India,29,"2,890",100
4,Women's ODI Rankings,New Zealand,31,"3,018",97
5,Women's ODI Rankings,West Indies,27,"2,399",89
6,Women's ODI Rankings,Bangladesh,12,935,78
7,Women's ODI Rankings,Pakistan,26,"1,753",67
8,Women's ODI Rankings,Ireland,5,240,48
9,Women's ODI Rankings,Sri Lanka,5,233,47
10,Men's ODI Team Rankings,New Zealand,18,"2,185",121 ...
11,Men's ODI Team Rankings,England,32,"3,793",119
12,Men's ODI Team Rankings,Australia,29,"3,387",117
13,Men's ODI Team Rankings,India,38,"4,162",110
14,Men's ODI Team Rankings,South Africa,31,"3,167",102
15,Men's ODI Team Rankings,Bangladesh,36,"3,350",93
16,Men's ODI Team Rankings,Pakistan,28,"2,590",93
17,Men's ODI Team Rankings,Sri Lanka,35,"2,835",81
18,Men's ODI Team Rankings,West Indies,36,"2,788",77
19,Men's ODI Team Rankings,Afghanistan,23,"1,562",68

# Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    b) Top 10 ODI Batsmen along with the records of their team and rating.
    c) Top 10 ODI bowlers along with the records of their team and rating.
    b) Top 10 women’s ODI Batting players along with the records of their team and rating.
    c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [38]:
urls = ['https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting', 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling','https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting','https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling']
df = pd.DataFrame()
ranking_type = []
player_name = []
player_team = []
player_rating = []
for i in urls:
    odi_response = requests.get(i)
    soup = BeautifulSoup(odi_response.content)
    rankingType = soup.select_one(".rankings-block__title-container > h4").text.strip('\\')
    playerName = soup.find("td",class_="rankings-block__top-player-container")
    player_name.append(playerName.text.replace('\n',''))
    playerTeam = soup.find("div",class_="rankings-block__banner--nationality")
    player_team.append(playerTeam.text.replace('\n',''))
    playerRating = soup.find("td",class_="u-text-left")
    player_rating.append(playerRating.text.replace('\n',''))
    ranking_type.append(rankingType)
    info = []
    demo = soup.find_all("tr",class_="table-body")[0:9]
    for i in demo:
        playerName = i.find("td", class_="table-body__cell rankings-table__name name")
        player_name.append(playerName.a.text.replace('\n', ''))
        playerTeam = i.find("span", class_="table-body__logo-text")
        player_team.append(playerTeam.text.replace('\n', ''))
        playerRating = i.find("td", class_="table-body__cell rating")
        player_rating.append(playerRating.text.replace('\n', ''))
        ranking_type.append(rankingType)
df['Ranking Type'] = ranking_type
df["Player Name"] = player_name
df["Player Team"] = player_team
df["Player Rating"] = player_rating
df.to_csv('question_5_6_b_b_c_c.csv')
df

,Ranking Type,Player Name,Player Team,Player Rating
0,Men's ODI Batting Rankings,Babar Azam,PAK,872
1,Men's ODI Batting Rankings,Virat Kohli,IND,811
2,Men's ODI Batting Rankings,Ross Taylor,NZ,794
3,Men's ODI Batting Rankings,Rohit Sharma,IND,791
4,Men's ODI Batting Rankings,Quinton de Kock,SA,789
5,Men's ODI Batting Rankings,Jonny Bairstow,ENG,775
6,Men's ODI Batting Rankings,Aaron Finch,AUS,771
7,Men's ODI Batting Rankings,Rassie van der Dussen,SA,769
8,Men's ODI Batting Rankings,David Warner,AUS,758
9,Men's ODI Batting Rankings,Imam-ul-Haq,PAK,746
10,Men's ODI Bowling Rankings,Trent Boult,NZ,733
11,Men's ODI Bowling Rankings,Josh Hazlewood,AUS,705
12,Men's ODI Bowling Rankings,Chris Woakes,ENG,700
13,Men's ODI Bowling Rankings,Matt Henry,NZ,687
14,Men's ODI Bowling Rankings,Mujeeb Ur Rahman,AFG,681
15,Men's ODI Bowling Rankings,Jasprit Bumrah,IND,679
16,Men's ODI Bowling Rankings,Mehedi Hasan,BAN,661
17,Men's ODI Bowling Rankings,Shakib Al Hasan,BAN,657
18,Men's ODI Bowling Rankings,Adam Zampa,AUS,650
19,Men's ODI Bowling Rankings,Rashid Khan,AFG,650
20,Women's ODI Batting Rankings,Laura Wolvaardt,SA,740
21,Women's ODI Batting Rankings,Beth Mooney,AUS,726
22,Women's ODI Batting Rankings,Meg Lanning,AUS,718
23,Women's ODI Batting Rankings,Natalie Sciver,ENG,705
24,Women's ODI Batting Rankings,Alyssa Healy,AUS,703
25,Women's ODI Batting Rankings,Mithali Raj,IND,686
26,Women's ODI Batting Rankings,Rachael Haynes,AUS,684
27,Women's ODI Batting Rankings,Tammy Beaumont,ENG,682
28,Women's ODI Batting Rankings,Amy Satterthwaite,NZ,681
29,Women's ODI Batting Rankings,Smriti Mandhana,IND,669
30,Women's ODI Bowling Rankings,Sophie Ecclestone,ENG,787
31,Women's ODI Bowling Rankings,Jess Jonassen,AUS,727
32,Women's ODI Bowling Rankings,Shabnim Ismail,SA,724
33,Women's ODI Bowling Rankings,Megan Schutt,AUS,706
34,Women's ODI Bowling Rankings,Jhulan Goswami,IND,663
35,Women's ODI Bowling Rankings,Marizanne Kapp,SA,660
36,Women's ODI Bowling Rankings,Ayabonga Khaka,SA,650
37,Women's ODI Bowling Rankings,Kate Cross,ENG,626
38,Women's ODI Bowling Rankings,Ellyse Perry,AUS,623
39,Women's ODI Bowling Rankings,Hayley Matthews,WI,622

# Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [39]:
title = []
published = []
Content = []
video_link = []
coreyms_response = requests.get('https://coreyms.com/')
soup = BeautifulSoup(coreyms_response.content)
all_data = soup.find_all('article')
for data in all_data:
    title.append(data.h2.a.text)
    published.append(data.find('time', class_ = 'entry-time').text)
    Content.append(data.find('div', class_ = 'entry-content').p.text)
    try:
        data_video_link = data.find('iframe', class_ = 'youtube-player')['src']
        vid_lnk = f"https://youtube.com/watch?v={data_video_link.split('/')[4].split('?')[0]}"
    except Exception as ex:
        vid_lnk = 'No Link Found In Web-Site'
    video_link.append(vid_lnk)
coreyms_df = pd.DataFrame({'Title':title,'Published_Date':published,'Content':Content, 'Video Link':video_link})
coreyms_df.to_csv('question_7.csv')
coreyms_df

,Title,Published_Date,Content,Video Link
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea...",https://youtube.com/watch?v=z0gguhEmWiY
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l...",https://youtube.com/watch?v=_P7X8tMplsw
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l...",https://youtube.com/watch?v=fKl2JW_qrso
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l...",https://youtube.com/watch?v=IEEhzQoKtQU
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...,No Link Found In Web-Site
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b...",https://youtube.com/watch?v=mO_dS3rXDIs
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b...",https://youtube.com/watch?v=2Fp1N6dof0Y
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://youtube.com/watch?v=-nh9rCzPJ20
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b...",https://youtube.com/watch?v=06I63_p-2A4
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b...",https://youtube.com/watch?v=_JGmemuINww

# Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [40]:
house_title = []
location = []
area = []
emi = []
price = []
nobroker_response = requests.get('https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciJ9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIifSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIn1d&radius=2.0&city=bangalore&locality=Indiranagar,&locality=Jayanagar,&locality=Rajajinagar')
soup = BeautifulSoup(nobroker_response.content, 'html.parser')
house_data = soup.find_all('div', class_ = 'bg-white rounded-2 bg-clip-padding overflow-hidden my-1.2p mx-0.5p tp:border-b-0 tp:shadow-cardShadow tp:mt-0.5p tp:mx-0 tp:mb:1p hover:cursor-pointer nb__2_XSE')
for data in house_data:
    house_title.append(data.find('h2',class_ = 'heading-6 flex items-center font-semi-bold m-0').text)
    location.append(data.find('div', class_='mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95').text)
    area.append(data.find('span', itemprop = 'streetAddress').text)
    cost_data = data.find('div', class_ = 'p-1.5p flex border-b border-b-solid border-cardbordercolor tp:py-1p tp:px-1.5p tp:border-b-0').text
    price.append(cost_data.split('₹')[3])
    emi_parser = f"{cost_data.split('₹')[2].split('/')[0]}{'/'}{cost_data.split('₹')[2].split('/')[1].replace('Estimated EMI', '')}"
    emi.append(emi_parser)
nobroker_df = pd.DataFrame({'House Title': house_title, 'Location': location, 'Area': area, 'Price':price, 'EMI':emi})
nobroker_df.to_csv('question_8.csv')
nobroker_df

,House Title,Location,Area,Price,EMI
0,4+ BHK In Independent House For Sale In Raja...,"Independent House, 6th Cross road,9th main ro...",Rajaji Nagar,1.1 Crores,"63,045/Month"
1,4+ BHK In Independent House For Sale In Jaya...,"Independent House, TMC Layout behind rajalaxmi...",Jayanagar,3.85 Crores,2.21 Lacs/Month
2,2 BHK Apartment For Sale In Blueberry Apartm...,"Blueberry Apartment 13th E Main Rd, Channakes...",Indiranagar,1.53 Crores,"87,691/Month"
3,3 BHK Apartment For Sale In Mayitri Enclave ...,"Mayitri Enclave Mayitri Enclave, 39th C, 5T B...",Jayanagar,78 Lacs,"44,705/Month"
4,2 BHK Apartment For Sale In Tarang Parkway A...,"Tarang Parkway Apartment 2nd Main Rd, Shivana...",Basaveshwar Nagar,1 Crore,"57,314/Month"

# Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [41]:
page = requests.get('https://www.dineout.co.in/bangalore-restaurants/dineout-pay')
soup = BeautifulSoup(page.content)
names = []
locations = []
cuisines = []
images = []
ratings = []
card_rest = soup.find_all('div', class_ = 'restnt-card restaurant')
for hotels in card_rest:
    names.append(hotels.find('div', class_="restnt-info cursor").text)
    locations.append(hotels.find('div', class_="restnt-loc ellipsis").text)
    cuisines.append(hotels.find('span', class_="double-line-ellipsis").text.split('| ')[1])
    images.append(hotels.find("img", class_="no-img")['data-src'])
    ratings.append(hotels.find('div', class_ = ['restnt-rating rating-2','restnt-rating rating-3','restnt-rating rating-4','restnt-rating rating-5']).text)

df = pd.DataFrame({'Restaurent Names':names,'Locations':locations,'Cuisines':cuisines, 'Rating':ratings, 'Images_url':images})
df.to_csv('question_9.csv')
df

,Restaurent Names,Locations,Cuisines,Rating,Images_url
0,"The Bier Library Brewery & KitchenKoramangala,...","Koramangala, South Bangalore","Continental, Finger Food, North Indian",4.4,https://im1.dineout.co.in/images/uploads/resta...
1,"BiergartenKoramangala, South Bangalore","Koramangala, South Bangalore","Continental, European",4.4,https://im1.dineout.co.in/images/uploads/resta...
2,"Uru BrewparkJP Nagar, South Bangalore","JP Nagar, South Bangalore","North Indian, Italian, Continental, Asian",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,"Hard Rock CafeSt. Marks Road, Central Bangalore","St. Marks Road, Central Bangalore","Continental, American, Finger Food",4.4,https://im1.dineout.co.in/images/uploads/resta...
4,"The Biere ClubVittal Mallya Road, Central Bang...","Vittal Mallya Road, Central Bangalore",Finger Food,4.3,https://im1.dineout.co.in/images/uploads/resta...
5,"JW KitchenJW Marriott Hotel,Vittal Mallya Road...","JW Marriott Hotel,Vittal Mallya Road, Central ...","North Indian, Continental",4.4,https://im1.dineout.co.in/images/uploads/resta...
6,"BadmaashUB City,Vittal Mallya Road, Central Ba...","UB City,Vittal Mallya Road, Central Bangalore","North Indian, Chettinad, Andhra",4.2,https://im1.dineout.co.in/images/uploads/resta...
7,"No Limmits Lounge and ClubAllied Grand Plaza,M...","Allied Grand Plaza,Magrath Road, Central Banga...","North Indian, Continental, Chinese",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"Cafe NoirUB City,Vittal Mallya Road, Central B...","UB City,Vittal Mallya Road, Central Bangalore","Continental, French, European, Health Food, Be...",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,"DaddyIndiranagar, East Bangalore","Indiranagar, East Bangalore","Asian, North Indian, European, Italian",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,"ShiroUB City,Vittal Mallya Road, Central Banga...","UB City,Vittal Mallya Road, Central Bangalore","Thai, Japanese, Asian, Malaysian",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,"Chutney ChangHM Eleganza Building,Church Stree...","HM Eleganza Building,Church Street, Central Ba...","Chinese, North Indian",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,"ToscanoUB City,Vittal Mallya Road, Central Ban...","UB City,Vittal Mallya Road, Central Bangalore",Italian,4.5,https://im1.dineout.co.in/images/uploads/resta...
13,"SanchezUB City,Vittal Mallya Road, Central Ban...","UB City,Vittal Mallya Road, Central Bangalore","Mexican, Tex Mex",4.3,https://im1.dineout.co.in/images/uploads/resta...
14,"SodaBottleOpenerWalaLavelle Road, Central Bang...","Lavelle Road, Central Bangalore","Parsi, Iranian",4.3,https://im1.dineout.co.in/images/uploads/resta...
15,"Church Street SocialCobalt Building,Church Str...","Cobalt Building,Church Street, Central Bangalore","Chinese, North Indian, American, Biryani, Cont...",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,"Farzi CafeUB City,Vittal Mallya Road, Central ...","UB City,Vittal Mallya Road, Central Bangalore",Modern Indian,4.3,https://im1.dineout.co.in/images/uploads/resta...
17,"Spice TerraceJW Marriott Hotel,Vittal Mallya R...","JW Marriott Hotel,Vittal Mallya Road, Central ...","North Indian, Mughlai",4.3,https://im1.dineout.co.in/images/uploads/resta...
18,"RaahiSt. Marks Road, Central Bangalore","St. Marks Road, Central Bangalore",Fusion,4,https://im1.dineout.co.in/images/uploads/resta...
19,"Brahma BrewsJP Nagar, South Bangalore","JP Nagar, South Bangalore","Continental, Asian, North Indian, European, So...",4.5,https://im1.dineout.co.in/images/uploads/resta...
20,"1522 - The PubResidency Road, Central Bangalore","Residency Road, Central Bangalore","Finger Food, Asian, Italian, North Indian",4.5,https://im1.dineout.co.in/images/uploads/resta...

# Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [42]:
page_1 = requests.get("https://www.bewakoof.com/women-t-shirts")
soup = BeautifulSoup(page_1.content, 'html.parser')
site_names = soup.find_all('div', class_="productCardDetail")
site_price = soup.find_all('span', class_="discountedPriceText")
site_url = soup.find_all('img')
site_product_name = []
site_Price = []
site_Image = []
for i in site_names:
    site_product_name.append(i.h3.text)
for i in site_price:
    site_Price.append(i.get_text())
for i in site_url:
    site_Image.append(i["src"])
bewakoof_site_df = pd.DataFrame({'Product Name':site_product_name[0:10],'Price':site_Price[0:10],'Image_url':site_Image[0:10]})
bewakoof_site_df.to_csv('question_10.csv')
bewakoof_site_df

,Product Name,Price,Image_url
0,Women's Black No We in Food Graphic Printed Bo...,₹ 299,https://images.bewakoof.com/web/bewakoof-prima...
1,Women's Red No We in Food Graphic Printed Boyf...,₹ 299,https://images.bewakoof.com/web/search-glass.png
2,White V-Neck Varsity Rib T-shirt,₹ 499,https://images.bewakoof.com/web/heart-wishlist...
3,Opinion About Me Half Sleeve T-Shirt,₹ 199,https://images.bewakoof.com/web/shopping-bag.png
4,Black Crewneck Varsity Rib Half Sleeves T-shirt,₹ 299,https://images.bewakoof.com/t320/no-we-in-food...
5,White Boyfriend Varsity Rib T-shirt,₹ 299,https://images.bewakoof.com/t320/no-we-in-food...
6,Imperial Red V-Neck Varsity Rib T-shirt,₹ 299,https://images.bewakoof.com/t320/white-v-neck-...
7,White Crewneck Varsity Rib Half Sleeves T-shirt,₹ 299,https://images.bewakoof.com/t320/opinion-about...
8,Mickey Don't Care Half Sleeve T-Shirt (DL),₹ 349,https://images.bewakoof.com/t320/black-crewnec...
9,Busy Doin Nothing Boyfriend T-Shirt (DL) Pinea...,₹ 399,https://images.bewakoof.com/t320/white-boyfrie...